<html >
<head>
    <meta charset="utf-8">
    <title>Scheduler LOGIN</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
</body>
    <div id="appWrapper" style="visibility: hidden;">
        <div id="app">
            <div id="login" v-on:keyup.enter="loginUser" v-if="loginVisible">
                <input v-model="userId" placeholder="user id">
                <button v-on:click="loginUser">login</button>
                <button v-on:click="getNewId">new acct</button>
            </div>
            <div id="home" v-if="homeVisible">
                <div>
                    <span>Hi, </span>
                    <span id="realNameDisplay" v-if="!editRealName"> {{ realName }} </span>
                    <span id="realNameInput">
                        <input  :placeholder="realName"
                                v-model="realName" 
                                v-if="editRealName"
                                v-on:keyup.enter="updateRealName"
                                >
                        </span>
                    <span><button v-on:click="setEditRealName">edit</button></span>
                    <span><button v-on:click="clearLocalStorage">logout</button></span>
                    <span>SECRET(for login): {{ userId }}</span>
                </div>
                <p>
                </p>
                <form name="scheduleForm" action="#">
                    <div>
                        <input
                            v-model="newScheduleName"
                            v-on:keyup.enter="addNewSchedule"
                            :placeholder="addNewScheduleDialog"
                        > HIT ENTER TO SUBMIT
                    </div>
                    <div>
                        <input
                            v-model="existingScheduleId"
                            v-on:keyup.enter="addExistingSchedule"
                            :placeholder="addExistingScheduleDialog"
                        > HIT ENTER TO SUBMIT
                    </div>
                </form>
                <schedule-listing
                    v-for="schedule in Schedules"
                    v-bind:key="schedule.schedid"
                    v-bind:schedid="schedule.schedid"
                    v-bind:title="schedule.name"
                    v-on:edit="editSchedule(schedule)"
                    v-on:remove="removeSchedule(schedule)"
                    v-on:goto="gotoSchedule(schedule)"
                ></schedule-listing>
            </div>
            <div id="schedule" v-if="scheduleVisible">
                <div> 
                    <span> {{ displaySchedule.name }} </span>
                    <button v-on:click="emptySchedule"> return to schedule list </button>
                </div>
                    <h3
                        v-if="ScheduleInfo.isOwner"
                        > Schedule Owner View </h3>
                    <h3
                        v-else
                        > Schedule Contributor View </h3>
                    <sched-table-master
                        v-if="ScheduleInfo.isOwner"
                        v-bind:days="Days"
                        v-bind:times="Times"
                        v-bind:availabilities="Availabilities"
                        v-bind:tablename="{ text: 'master' }"
                        ></sched-table-master>
                <div> 
                    <button v-on:click="addNewAvailability">add availability</button>
                </div>
                <div class="flexd" v-for="avail in Availabilities">
                    <div class="left-column">
                        <avail-name
                            :availname="avail.name"
                            :availId="avail.availid"
                            :isowner="avail.owner === userId"
                            v-on:editname="updateAvailName"
                        ></avail-name>
                        <div class="talldiv">
                            <textarea class="filltextbox"
                                v-model="textBoxComment"
                                v-on:keyup.enter="setTextBoxComment"
                                placeholder="add comment (optional)"
                            ></textarea>
                        </div>
                    </div>

                    <!--<div class="flex-item">
                    -->
                    <div>
                        <span>
                            <sched-table-worker
                                v-bind:days="Days"
                                v-bind:times="Times"
                                v-bind:tablename="{ text: avail.name }"
                                v-bind:tableid="{ text: avail.availid }"
                                v-on:emitchecked="tellChecked"
                                :savedchecks="avail.data"
                                :isnotowner="avail.owner !== userId"
                                ></sched-table-worker>
                        </span>
                    </div>
                    <div>
                        <div>
                            <button 
                                :id=avail.availid
                                :name=avail.name
                                v-on:click="saveAvailability"
                                v-if="avail.owner === userId">save</button>
                        </div>
                        <div>
                            <button
                                :id=avail.availid
                                :name=avail.name
                                v-on:click="removeAvailability"
                                v-if="avail.owner === userId">delete {{ avail.name }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="js/scheduler.js"></script>

</body>
</html>

